.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
     grid-template-columns: 1fr 1fr 1fr 1fr; 
     grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" "main main . sidebar"
    "footer footer footer footer";
    row-gap:10px;
    justify-items: center;
    align-items: center;
    justify-content: end;
    align-content: center ;
}
.item{
    height: 100px;
    width: 100px; 
    background-color: brown;
    border: 1px solid rgb(248, 245, 245);
    text-align: center;
    align-content: center;
    color: beige; */
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}

.item3{
   grid-area: sidebar;
}
.item4{
   grid-area: footer;
} */
/* .box  */
     /* background-color: blueviolet; */
/* } */
/* @media min weidth:230px;


.menu a {
    color: aqua;
    padding: lem;
    /* text-decoration: none ; */
    /* display: black;  */

/* } */
/* .hamburger */
/* { */
/*  */
/* } */
/* tablet & diplay@media (min-width: 768px){ */
    /* .menu { */
        /* flex-direction: row; */
/*  */
    /* } */
/* } */
/*  */
 /* */ 
/*  */